appdirs
asgiref
Brotli
certifi
cffi
charset-normalizer
click
colorama
cssselect2
dataclasses
distlib
Django
django-crispy-forms
django-localflavor
django-renderpdf
djongo
dlib
dnspython
face-recognition
face-recognition-models
filelock
fonttools
html5lib
idna
mysql-connector
numpy
opencv-contrib-python
opencv-python
Pillow
pycparser
pydyf
pymongo
pyphen
python-stdnum
pytz
requests
six
sqlparse
tinycss2
tzdata
urllib3
virtualenv
weasyprint
webencodings
zopfli